/* 背景渐变 */
#web_bg{
    background-image: linear-gradient(-225deg, #dfbacd 0%, #B8DCFF 48%, #58abf3 100%);
}

/* 页脚footer */
#footer {
    /* 与背景渐变效果一致*/
    background-image: linear-gradient(-225deg, #d6badf 0%, #B8DCFF 28%, #58abf3 100%);
}

#footer:before {
    background-color: rgba(0, 0, 0, 0);
}